<!-- TODO: Change icon colors to primary -->
  <div class="categories__list">
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag "violence", style: "height: 40px; width: 40px;" %>
      <p>Violence</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag "theft", style: "height: 40px; width: 40px;" %>
      <p>Theft</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag "harassment", style: "height: 40px; width: 40px;" %>
      <p>Harassment</p>
    </div>
    <!-- Item End -->

    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag "disturb", style: "height: 40px; width: 40px;" %>
      <p>Disturbance</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag "arson", style: "height: 40px; width: 40px;" %>
      <p>Arson</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag "drugs", style: "height: 40px; width: 40px;" %>
      <p>Drugs</p>
    </div>
    <!-- Item End -->

    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag "traffic", style: "height: 40px; width: 40px;" %>
      <p>Traffic</p>
    </div>
    <!-- Item End -->
  </div>
