<div>
  <%= form_with url: "/incidents", method: :get, class:"date_picker" do |f| %>
    <%= f.label :start_date, "Incidents from: " %>
    <%= f.text_field :start_date,
      data: {
        controller: "flatpickr",
        flatpickr_date_format: "Y-m-d",
        flatpickr_disable_mobile: "true", # Prevents native picker on mobile
        flatpickr_default_date: "today",
      }%>
    <%= f.label :end_date, "to: ", class: "ms-2" %>
    <%= f.text_field :end_date,
      data: {
        controller: "flatpickr",
        flatpickr_date_format: "Y-m-d",
        flatpickr_disable_mobile: "true", # Prevents native picker on mobile
        flatpickr_default_date: "today",
      }%>
  <% end %>
</div>
