    
<div class="card--feed me-1 ms-1 p-3">
  <% if incident.user == current_user && current_page?("/profile") %>
    <div class="button--delete">
      <%= link_to "<i class='fas fa-times'></i>".html_safe, incident_path(incident), method: :delete, data: { confirm: "Would you like to delete this incident?" } %>
    </div>
  <% end %>
  <div class="row d-flex justify-content-between">
    <div class="col-10">
      <% if incident.user_id.nil? %>
        <h1 class="text--blue"><i>News Report</i></h1>
      <% else %>
        <h1 class="text--blue"><i>User Report</i></h1>
      <% end %>
      <h1><%= incident.title %></h1>
    </div>
    <div class="col-2">
      <%= render "feed/feed_icon.html.erb", category: incident.category_list.first %>
    </div>
  </div>
  <p class="card--description"><%= incident.description.first(100)... %></p>
  <%= render "feed/feed_distance.html.erb", incident: incident %>
  <%= link_to "", incident_path(incident, path: "feed"), class: "card--link" %>
</div>
