<div class="card--feed me-1 ms-1 p-3">
  <% if incident.user == current_user && current_page?('/profile') %>
    <div class="button--delete">
      <%= link_to "<i class='fas fa-times'></i>".html_safe, incident_path(incident), method: :delete, data: { confirm: "Would you like to delete this incident?" } %>
    </div>
  <% end %>
  <div class="row d-flex justify-content-between">
    <%= render 'type', incident: incident %>
    <div class="col-2">
      <%= render 'icon', category: incident.category_list.first %>
    </div>
  </div>
  <p class="card--description"><%= incident.description.first(100)... %></p>
  <div class="card--bottom d-flex justify-content-between align-items-end mt-2">
    <% meguro_lat = 35.6415 %>
    <% meguro_long = 139.6981 %>
    <% if request.location.latitude.present? %>
      <% distance = (Geocoder::Calculations.distance_between([request.location.latitude, request.location.longitude], [incident.latitude, incident.longitude])).round(0) %>
    <% elsif incident.latitude.nil? %>
      <% distance = 'Unknown' %>
    <% else %>
      <% distance = (Geocoder::Calculations.distance_between([meguro_lat, meguro_long], [incident.latitude, incident.longitude])).round(0) %>
    <% end %>
    <p>
      <%= render 'incidents/distance_icon.html.erb', distance: distance %>
      <%= distance %>
      km away from you
    </p>
    <p class="card--category">
      <i class="fas fa-comment me-1" style="font-size: 16px;"></i>
      comments
      (<%= incident.comments.count %>)
    </p>
  </div>
  <%= link_to "", incident_path(incident, path: 'feed'), class: "card--link" %>
</div>
