<div class="card--feed me-1 ms-1 p-3">
  <% if incident.user == current_user && current_page?('/profile') %>
    <div class="button--delete">
      <%= link_to "<i class='fas fa-times'></i>".html_safe, incident_path(incident), method: :delete, data: { confirm: "Would you like to delete this incident?" } %>
    </div>
  <% end %>
  <div class="row d-flex justify-content-between">
    <%= render 'type', incident: incident %>
    <div class="col-2">
      <%= render 'icon', category: incident.category_list.first %>
    </div>
  </div>
  <p class="card--description"><%= incident.description.first(100)... %></p>
  <%= render 'distance', incident: incident %>
  <%= link_to "", incident_path(incident, path: 'feed'), class: "card--link" %>
</div>
