<!-- TODO: Change icon colors to primary -->
  <div class="categories__list">
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/home-invasion.svg") %>
      <p>Invasion</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/item-stolen.svg") %>
      <p>Item Stolen</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/violence.svg") %>
      <p>Violence</p>
    </div>
    <!-- Item End -->

    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/home-invasion.svg") %>
      <p>Invasion</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/item-stolen.svg") %>
      <p>Item Stolen</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/violence.svg") %>
      <p>Violence</p>
    </div>
    <!-- Item End -->

    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/home-invasion.svg") %>
      <p>Invasion</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/item-stolen.svg") %>
      <p>Item Stolen</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/violence.svg") %>
      <p>Violence</p>
    </div>
    <!-- Item End -->

    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/home-invasion.svg") %>
      <p>Invasion</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/item-stolen.svg") %>
      <p>Item Stolen</p>
    </div>
    <!-- Item End -->
    <!-- Item Start -->
    <div class="categories__item">
      <%= image_tag("icons/violence.svg") %>
      <p>Violence</p>
    </div>
    <!-- Item End -->
  </div>
