<!-- TODO: Replace href placeholders -->
<ul class="nav__links" data-controller="active-link">
  <li>
    <%= link_to "/", class:"nav__link" do %>
      <i class="fas fa-home"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "/feed", class:"nav__link" do %>
      <i class="fas fa-newspaper"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "/incidents/new", class:"nav__link" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "/incidents/route", class:"nav__link" do %>
      <i class="fas fa-map-marked-alt"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "/incidents/notifications", class:"nav__link" do %>
      <i class="fas fa-chart-bar"></i>
    <% end %>
  </li>
</ul>
