<!-- TODO: Change icon colors to primary -->


<!-- violence -->
<% if params[:category] == 'violence' %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>

<!-- theft -->
<% elsif params[:category] == 'theft' %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>

<!-- harassment -->
<% elsif params[:category] == 'harassment' %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>

<!-- disturbance -->
<% elsif params[:category] == 'disturbing' %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>

<!-- arson -->
<% elsif params[:category] == 'arson' %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>

<!-- drugs -->
<% elsif params[:category] == 'drugs' %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>

<!-- traffic -->
<% elsif params[:category] == 'traffic' %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs-gray.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>

<!-- all -->
<% else %>
  <div class="categories__list">
    <div class="categories__item">
      <%= link_to "/?category=violence" do %>
        <%= image_tag "violence.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Violence</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=theft" do %>
        <%= image_tag "theft.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Theft</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=harassment" do %>
        <%= image_tag "harassment.png", style: "height: 40px; width: 40px;" %>
      <% end %>
        <p>Harassment</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=disturbing" do %>
        <%= image_tag "disturb.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Disturbance</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=arson" do %>
        <%= image_tag "arson.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Arson</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=drugs" do %>
        <%= image_tag "drugs.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Drugs</p>
    </div>
    <div class="categories__item">
      <%= link_to "/?category=traffic" do %>
        <%= image_tag "traffic.png", style: "height: 40px; width: 40px;" %>
      <% end %>
      <p>Traffic</p>
    </div>
  </div>
<% end %>
