<div class="p-3">
  <div class="row">
    <div class="col-9">
      <h1><%= @incident.title %></h1>
    </div>
    <div class="col-3">
      <div class="d-flex justify-content-end align-items-center card--category">
        <%= @incident.category_list.first %>
        <%= render 'icon', category: @incident.category_list.first %>
      </div>
    </div>
  </div>
  <div
    class="mt-1"
    data-controller="read-more"
    data-read-more-more-text-value="Read more"
    data-read-more-less-text-value="Read less"
  >
    <p data-read-more-target="content">
      <%= @incident.description.first(250) %>...
    </p>
    <div class="d-flex justify-content-end">
      <button data-action="read-more#toggle">
        See more
      </button>
    </div>
    <template data-read-more-target="full">
      <p><%= @incident.description %></p>
    </template>
  </div>
  <div class="d-flex justify-content-between align-items-end mt-2">
    <%= render 'incident_card_bottom', incident: @incident  %>
  </div>
</div>
