<div class="incidents-new content" data-controller="report-details">
  <%= simple_form_for @incident,
                    data: {
                      report_details_target: 'form',
                      action:"keyup->report-details#validateForm" } do |f| %>
    <div class="report">
      <div class="report-form">
        <h3 class="report_container__heading">Report an <span>Incident</span></h3>
        <%= render "report_categories_input", f: f %>
        <%= render "hidden_location_input", f: f %>
        <%= render "report_location_input", f: f %>
        <div class="date-and-comments">
          <%= render "date_picker_for_report" %>
          <%= render "report_comments_switcher", f: f %>
        </div>
      </div>
      <%= render "report_details", f: f %>
      <%= f.button :submit,
                    "Report",
                    class: "btn btn--report report-details__submit",
                    diable_with: "Reporting Incident...",
                    disabled: true,
                    data: { "report-details-target": "reportButton" } %>
    </div>
  <% end %>
  <%= render 'shared/map' %>
</div>
