<div class="container p-3">
<div class="d-flex justify-content-start">
  <%= link_to "<p><i class='fas fa-chevron-left me-2'></i>Back</p>".html_safe, "#" %>
</div>
<div class="incident-details-card">
  <div class="d-flex justify-content-end">
    <%= @incident.title %>
    <div>
      <%= @incident.category_list.first %>
      <i class="fas fa-fist-raised"></i>
    </div>
  </div>
</div>


  <%= @incident.description %>
  <%= @incident.location %>
  <%= @incident.latitude %>
  <%= @incident.longitude %>
  <%= @incident.incident_date %>
  <% @incident.category_list.each do |category| %>
    <%= category %>
  <% end %>
  <% if @incident.can_receive_comments? %>
    <%= render 'comments/form', incident: @incident, original_comment: @original_comment, comment: @comment %>
    <ul>
      <% @incident.comments.each do |comment| %>
        <li class="ps-3">
          <% if !comment.comment.present? %>
            <%= link_to comment.content, incident_comment_path(@incident, comment) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
