<div class="container p-3">
<div class="d-flex justify-content-start">
  <%= link_to "<p><i class='fas fa-chevron-left me-2'></i>Back</p>".html_safe, "#" %>
</div>
<div class="card--incident-details p-3">
  <div class="row">
    <div class="col-9">
      <h1><%= @incident.title %></h1>
    </div>
    <div class="col-3">
      <div class="d-flex justify-content-end align-items-center card--category">
        <%= @incident.category_list.first %>
        <%= image_tag 'violence.png', style: "width: 25px; height: 25px;", class: "ms-1" %>
      </div>
    </div>
  </div>
  <div
    data-controller="read-more"
    data-read-more-more-text-value="Read more"
    data-read-more-less-text-value="Read less"
    class="mt-1"
  >
    <p data-read-more-target="content">
      <%= @incident.description.first(600) %>...
    </p>
    <div class="d-flex justify-content-end">
      <button data-action="read-more#toggle">
        See more
      </button>
    </div>
    <template data-read-more-target="full">
      <p><%= @incident.description %></p>
    </template>
  </div>
</div>
 <%= request.location.coordinates %>


  <%= @incident.location %>
  <%= @incident.latitude %>
  <%= @incident.longitude %>
  <%= @incident.incident_date %>
  <% @incident.category_list.each do |category| %>
    <%= category %>
  <% end %>
  <% if @incident.can_receive_comments? %>
    <%= render 'comments/form', incident: @incident, original_comment: @original_comment, comment: @comment %>
    <ul>
      <% @incident.comments.each do |comment| %>
        <li class="ps-3">
          <% if !comment.comment.present? %>
            <%= link_to comment.content, incident_comment_path(@incident, comment) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
