
<div class="incident-show">
  <div class="container ps-3 pe-3 mt-5">
    <%= render "incidents/incident_back_button" %>
    <%= render 'tags', incident: @incident %>
    <div class="incident-show__details card--incident-details"     data-controller="read-more">
      <%= render 'incident_card', incident: @incident %>
      <%= render 'map', data: {
        read_more_target: "map"
      } %>
    </div>
  </div>
  <div class="incident-show__comments">
    <% @incident.comments.each do |comment| %>
      <%= render 'comment_card', comment: comment %>
    <% end %>
  </div>
</div>
<% if @incident.can_receive_comments? || !@incident.user.present?%>
  <%= render 'comments/form', incident: @incident, original_comment: @original_comment, comment: @comment %>
<% end %>
