<% if @user.comments.count > 3 %>
  <div data-read-more-target="content">
    <% @user.comments.first(3).each do |comment| %>
    <div class="comments__cards mt-2">
      <p class="comments__header ms-3 me-3">
        You commented on
        <%= link_to comment.incident.title, incident_path(comment.incident) %>
        on
        <%= comment.created_at.strftime("%Y-%m-%d") %>
      </p>
      <%= render 'incidents/comment_card', comment: comment %>
    </div>
  <% end %>
  <div class="d-flex justify-content-end m-3">
    <button
      data-action="read-more#toggle">
      See more
    </button>
  </div>
  </div>
  <template data-read-more-target="full">
    <% @user.comments.each do |comment| %>
      <div class="comments__cards mt-2">
        <p class="comments__header ms-3 me-3">
          You commented on
          <%= link_to comment.incident.title, incident_path(comment.incident) %>
          on
          <%= comment.created_at.strftime("%Y-%m-%d") %>
        </p>
        <%= render 'incidents/comment_card', comment: comment %>
      </div>
    <% end %>
  </template>
<% elsif @user.comments.count <= 3 && @user.comments.count < 0%>
  <% @user.comments.each do |comment| %>
    <div class="comments__cards mt-2">
      <p class="comments__header ms-3 me-3">You commented on <%= link_to comment.incident.title, incident_path(comment.incident) %> on <%= comment.created_at.strftime("%Y-%m-%d") %></p>
      <%= render 'incidents/comment_card', comment: comment %>
    </div>
  <% end %>
<% elsif @user.comments.count == 0 %>
  <p class="m-3"><em>You have no comments</em></p>
<% end %>
