<!DOCTYPE html>
<html>
  <head>
    <title>NeighborHUD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- TODO: Uncomment following line on Production -->
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <!-- ---------------------------  Map ---------------------------------- -->
    <div
      id="mapbox"
      class="mapbox"
      data-controller="mapbox"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      >
    </div>
    <!-- ---------------------------  Map ---------------------------------- -->
    <main class="main">
      <%= yield %>
    <div data-controller="feed">
    </div>
    </main>
    <%= render "shared/navbar" %>
  </body>
</html>
